doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href="/css/style-card.css")
  title FLIP CARD
body   
  main.maincontainer
    .thecard
      .thefront
        div(class="thefront") 
          p(style='font-family: Book antiqua; font-size: 25px;') CATAN
      .theback 
        h1 #{title}
    .thecard2
      .thefront2
        div(class="thefront2") 
          p(style='font-family: Book antiqua; font-size: 25px;') CATAN
      .theback2 
        h1 #{title2}
    button.decks Decks
    button.crud Crud
  script(src="/scripts/app.js")