extends layout.pug
block head
    link(rel='stylesheet', href="/css/style-card2.css")
block content
    main.maincontainer
        .thecard
            .thefront
                div(class="thefront") 
                    p(style='font-family: Book antiqua; font-size: 25px;') CATAN
            .theback 
                    h1 #{title}
        button.create Create
        button.read Read
        button.update Update
        button.delete Delete
    block scripts
    script(src="/scripts/app-crud.js") 