extends layout.pug
block head
    link(rel='stylesheet' href="/css/style-card-Deck.css")
    title create
block content
    main.maincontainer
        form.formato(id="form" method='POST' action='/v1/decks')
            input.input(type='number' name='players' placeholder='Players' autofocus='')
            input(type="submit", value="submit")
    block scripts 
