extends layout.pug
block head
    link(rel='stylesheet', href="/css/style-card.css")
block content
    main.maincontainer
        .thecard
            .thefront
                div(class="thefront") 
                    p(style='font-family: Book antiqua; font-size: 25px;') CATAN
            .theback 
                    h1 #{title}
        button.decks 
            a(href='v1/decks') Decks
        button.crud 
            a(href='v1/') Crud  
    block scripts
    script(src="/scripts/app.js") 